services:
  - type: web
    name: burnout-app
    env: static
    rootDir: ReactNative
    buildCommand: npm install && npx expo export:web
    staticPublishPath: dist
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
